{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "rules": {
        "global-require": 0,
        "import/no-dynamic-require": 0,
        "new-cap": 0,
        "no-new": 0
    }
}